[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
rstcheck = "*"

[requires]
python_version = "2.7"
